<!DOCTYPE html>
<html manifest="{% block cache %}{% endblock %}">
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}BO Light{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
            <style>
            body{
                padding-top:55px;
            }
            .login{
                max-width:400px;
            }
            </style>
        {% endblock %}
        {% block javascripts %}
                <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
                <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
                <script>
                $(document).ready(function(){
                    $('[data-toggle="tooltip"]').tooltip();
                    });
                </script>
        {% endblock %}
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" type="image/x-icon" href="{{ asset('images/favicon.ico') }}" />
    </head>
    <body>
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ path('homepage') }}">BO Light</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                {% if not is_granted('ROLE_GUEST') %}
                <li class="active"><a href="{{ path('payment') }}{% if limit is defined %}/{{limit}}{% endif %}{% if offset is defined %}/{{offset}}{% endif %}">Payments</a></li>
                <li class="active"><a href="{{ path('list') }}{% if limit is defined %}/{{limit}}{% endif %}{% if offset is defined %}/{{offset}}{% endif %}">IPN</a></li>
                {% endif %}
                <li class="active"><a href="{{ path('clients') }}{% if limit is defined %}/{{limit}}{% endif %}{% if offset is defined %}/{{offset}}{% endif %}"> Clients </a></li>
                <li class="active"><a href="{{ path('sales') }}{% if limit is defined %}/{{limit}}{% endif %}{% if offset is defined %}/{{offset}}{% endif %}"> Sales </a></li>
                <li class="active"><a href="{{ path('fos_user_profile_show') }}"> Profile </a></li>
                {% block navbar %}{% endblock %}
                {% if is_granted('ROLE_ADMIN') %}
                <li class="active"><a href="{{ path('user_index')}}"> Users </a></li>
                {% endif %}
                {% if is_granted('ROLE_SUPER_ADMIN') %}
                <li class="active"><a href="{{ path('super_option')}}"> Super Option </a></li>
                {% endif %}

                <li><a href="{{ path('fos_user_security_logout') }}" >
                    <span class="glyphicon glyphicon-log-out" title="Logout"></span>
                </a></li>
                {% else %}
                <li><a href="{{ path('login') }}">Login</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
    </nav>
        {% block body %}
        {% if limit is defined and url is defined %}
        <table><tr>
            <td><a href="{{ path(url,{'limit':'today'})}}"><button class="btn-sm {{ (limit == "today") ? 'btn-success' : 'btn-primary'}} " >Day</button></a></td>
            <td><a href="{{ path(url,{'limit':'week'}) }}"><button class="btn-sm {{ (limit == "week") ? 'btn-success' : 'btn-primary'}} " >Week</button></a></td>
            {% if url != "sales" %}
            <td><a href="{{ path(url,{'limit':'month'})}}"><button class="btn-sm {{ (limit == "month") ? 'btn-success' : 'btn-primary'}} " >Month</button></a></td>
            <td><a href="{{ path(url,{'limit':'quarter'})}}"><button class="btn-sm {{ (limit == "quarter") ? 'btn-success' : 'btn-primary'}} " >Quarter</button></a></td>
            {% endif %}
        {% if limit != "quarter" %}
            <td>&nbsp;&nbsp;</td>
            {% if offset > 0 %}
            {% if limit != "month" %}
            <td><a href="{{ path(url,{'limit':limit,'offset':offset - 7})}}" data-toggle="tooltip" title="+1 Week" data-placement="top"><button class="btn-sm btn-primary" > &lt;&lt; </button></a></td>
            {% endif %}
            <td><a href="{{ path(url,{'limit':limit,'offset':offset - 1})}}" data-toggle="tooltip" title="+1 Day" data-placement="top"><button class="btn-sm btn-primary" > &lt; </button></a></td>
            {% endif %}
            <td>&nbsp;{{date}}&nbsp;</td>
            <td><a href="{{ path(url,{'limit':limit,'offset':offset + 1})}}" data-toggle="tooltip" title="-1 Day" data-placement="top"><button class="btn-sm btn-primary" > &gt; </button></a></td>
            {% if limit != "month" %}
            <td><a href="{{ path(url,{'limit':limit,'offset':offset + 7})}}"><button class="btn-sm btn-primary" data-toggle="tooltip" title="-1 Week" data-placement="top"> &gt;&gt; </button></a></td>
            {% endif %}
        {% endif %}
        </tr></table>
        {% endif %}
        {% endblock %}
    </body>
</html>
