{% extends 'base.html.twig' %}
{% block title %}BO Light | Super Option {% endblock %}
{% block stylesheet %}
{{parent()}}
<style>
</style>
{% endblock %}
{% block body %}
<h2> Super Admin Option </h2>
	<button class="btn btn-danger" id="delete">Delete Ipn</button><button class="btn btn-danger" id="deletePayment">Delete Payment</button><br>
		<label>Nombre de payment a charger : <input type='number' id="numberPayment" value=50></label>
		<button class="btn btn-primary" id="getPayment">Go</button>
		<button class="btn btn-primary getPaymentFrom">Today</button>
		<button class="btn btn-primary getPaymentFrom">Yesterday</button>
		<button class="btn btn-primary getPaymentFrom">Week</button>
		<button class="btn btn-primary getPaymentFrom">Month</button>
		<button class="btn btn-primary getPaymentFrom">Quarter</button>
	<div id="progressPaymentContainer" class="progress">
		<div class="progress-bar-info progress-bar-striped active" id="progressPayment" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="0" style="width:0%"><span></span></div>
	</div>
	<br>
	<button class="btn btn-primary" id = "loaddb">Import Ipn</button><br>
	<button class="btn btn-primary" id = "reloaddb">Reload Ipn</button><br>
	<a href="{{ path('payment_table')}}"><button class="btn btn-primary">Payment table</button></a>
<form action="{{path('get_payment_from_uuid')}}" method="POST">
	<label>Transaction Uuid : <input name ="uuid" type="text"/></label>
	<label> Site Id : <select name="site_id" >
	{% for siteId in site_id_list %}
	<option value="{{siteId}}">{{siteId}}</option>
	{% endfor %}
	</select></label>
	<button type="submit">Load</button>{% if message is defined %}<p>{{message}}</p>{% endif %}
</form>
{% endblock %}
{% block javascripts %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script>
function getPayment(i,max,limit){
	var pbar = $('#progressPayment');
	if (i >= max){
		pbar.attr('class','progress-bar-success progress-bar-striped');
		$('#progressPayment span').html("Success : "+max+" payments loaded");
	} else {
		var nb = ((max - i) < 5) ? max - i : 5;
		$.ajax({
			url:$(location).attr('href') + '/get_payment',
			method:'POST',
			data:{'number':nb,'limit':limit}
		}).done(function(data){
			pbar.attr('aria-valuenow',i+nb);
			var pourcentage = Math.floor((i+nb)/max*100);
			pbar.attr('style','width:'+pourcentage+'%');
			$('#progressPayment span').html(i+nb+"/"+max+" loaded");
			getPayment(i+nb,max,limit);
		}).fail(function( jqXHR, textStatus ) {
 			console.log( "Request failed: " + textStatus );
		});
	}
}
$(document).ready(function(){
	$("#delete").on('click', function() {
		if (confirm("Are you sure?")){
			$.ajax({
				"url":$(location).attr('href') + '/delete'
			}).done(function(data){
				alert(data);
			});
		}
	});
	$("#deletePayment").on('click', function() {
		if (confirm("Are you sure?")){
			$.ajax({
				"url":$(location).attr('href') + '/delete_payment'
			}).done(function(data){
				alert(data);
			});
		}
	})
	$('#getPayment').on('click',function(){
			var max = $('#numberPayment').val()*1;
			$('#progressPayment').attr('aria-valuemax',max);
			$('#progressPayment span').html('starting : '+max+' will be loaded');
			getPayment(0,max,'quarter');
	});
	$('.getPaymentFrom').on('click',function(){
		var time = $(this).html();
		console.log(time);
		$.ajax({
			url:$(location).attr('href') +'/payment_from',
			method:'POST',
			data:{'time':time}
		}).done(function(data){
			console.log(data);
			$('#progressPayment').attr('aria-valuemax',data*1);
			$('#progressPayment span').html('starting : '+data+' will be loaded');
			getPayment(0,data*1,time);

		}).fail(function(jqXHR, textStatus){
			console.log( "Request failed: " + textStatus );
		})
	});
	$('#loaddb').on('click',function(){
		$.ajax({
			url:$(location).attr('href') +'/loaddb'
		}).done(function(data){
			console.log(data);
			alert("Ipn loaded");
		}).fail(function( jqXHR, textStatus ) {
 			console.log( "Request failed: " + textStatus );
		});
	});
	$('#reloaddb').on('click',function(){
		$.ajax({
			url:$(location).attr('href') + '/delete'
		}).done(function(data){
			alert(data + " Ipn will be loaded");
			$.ajax({
				url:$(location).attr('href') +'/loaddb'
			}).done(function(data){
				console.log(data);
				alert('Ipn Loaded');
			});
		});
	});
});
</script>
{% endblock %}