<!DOCTYPE html>
<html manifest="{{ asset('cache/index.appcache')}}">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- stylesheets -->
    <link rel="stylesheet" href="{{asset('lib/bootstrap/bootstrap.min.css')}}" />
    <link rel="stylesheet" href="{{asset('css/index.css')}}" />

    <!-- dependencies -->
    <script type="text/javascript" src="{{asset('lib/jquery/jquery-1.10.1.js')}}"></script>
    <script type="text/javascript" src="{{asset('lib/bootstrap/bootstrap.min.js')}}"></script>
    <script type="text/javascript" src="{{asset('lib/rsvp/rsvp-2.0.4.js')}}"></script>
    <script type="text/javascript" src="{{asset('lib/renderjs/renderjs-0.10.0.min.js')}}"></script>
    <script type="text/javascript" src="{{asset('lib/jio/jio-latest.js')}}"></script>
    <script type="text/javascript" src="{{asset('lib/jio/payzenDb.js')}}"></script>
    <!-- gadget scripts -->
    <script type="text/javascript" src="{{asset('js/index.js')}}"></script>
</head>
<body>
</body>
</html>