<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- stylesheets -->
    <link rel="stylesheet" href="{{asset('lib/bootstrap/bootstrap.min.css')}}" />
    <link rel="stylesheet" href="{{asset('lib/dataTable/jquery.dataTables.css')}}" />
    <link rel="stylesheet" href="{{asset('css/index.css')}}" />
    <!-- dependencies -->
    <script type="text/javascript" src="{{asset('lib/jquery/jquery-1.10.1.js')}}"></script>
    <script type="text/javascript" src="{{asset('lib/bootstrap/bootstrap.min.js')}}"></script>
    <script type="text/javascript" src="{{asset('lib/dataTable/jquery.dataTables.js')}}"></script>
    <script type="text/javascript" src="{{asset('lib/rsvp/rsvp-2.0.4.js')}}"></script>
    <script type="text/javascript" src="{{asset('lib/renderjs/renderjs-0.10.0.min.js')}}"></script>
    <!-- gadget scripts -->
    <script src="{{asset('js/tableGadget.js')}}"></script>
  </head>
  <body>
  	<table class="table-data">
  		<thead></thead>
  		<tbody></tbody>
  	</table>
  </body>
</html>
