{% extends "UserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}
<form class="center-block login" action="{{ path("fos_user_security_check") }}" method="post">
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}" />
    <div class="form-group" >
        <label for="username" class="control-label">{{ 'security.login.username'|trans }}</label>
        <input type="text" id="username" name="_username" class="form-control" value="{{ last_username }}" required="required" />
    </div>
    <div class="form-group" >
        <label for="password" class="control-label">{{ 'security.login.password'|trans }}</label>
        <input type="password" id="password" name="_password" class="form-control" required="required" />
    </div>
    <div class="form-inline" >
        <label for="remember_me" class="control-label">{{ 'security.login.remember_me'|trans }}</label>
        <input type="checkbox" id="remember_me" name="_remember_me" class="form-control" value="on" />
    <button type="submit" id="_submit" name="_submit" class="btn btn-primary pull-right" value="{{ 'security.login.submit'|trans }}" />Log In</button>
    </div>
</form>
{% endblock fos_user_content %}
