{% extends 'base.html.twig' %}
{% block cache %}{{ asset('cache/index.appcache')}}{% endblock %}
{% block javascripts %}
	<script src="{{asset('js/rsvp-2.0.4.js')}}"></script>
    <script src="{{asset('js/renderjs-0.10.0.min.js')}}"></script>
    <script src="{{asset('js/jio-latest.js')}}"></script>
    <script src="{{asset('js/index.js')}}"></script>
{% endblock %}
{% block body %}
    <div data-gadget-url="{{ path('payzenGadget')}}" data-gadget-scope="payzenGadget"></div>
    <table></table>
{% endblock %}

