<html>
  <head>
    <script src="{{asset('js/rsvp-2.0.4.js')}}"></script>
    <script src="{{asset('js/jio-latest.js')}}" ></script>
    <script src="{{asset('js/renderjs-0.10.0.min.js')}}"></script>
    <script src="{{asset('js/payzenDb.js')}}" ></script>
    <script src="{{asset('js/payzenGadget.js')}}"></script>
  </head>
  <body>
    <h1>Bonjour je suis renderJS</h1>
  </body>
</html>
