{% extends 'base.html.twig' %}
{% block title %}BO Light | Sales {% endblock %}
{% block stylesheets %}
{{ parent()}}
	<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.12/css/jquery.dataTables.css">
	<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/responsive/2.1.0/css/responsive.dataTables.min.css">
	<style>
	table td{
		text-align:center;
	}
	table th{
		text-align:center;
	}
	.numericCol {text-align:right;}
	.numericTitle{text-align:right;}
	.timeCol{text-align:left;}
	table.display {
		text-align:right;
		margin: 0 auto;
		max-width:300px;
		clear: both;
		border-collapse: collapse;
		table-layout: fixed;
		word-wrap:break-word;
	}
	</style>
{% endblock %}
{% block body %}
{{parent()}}
<br>
<a href="{{ path(url,{'limit':'week','offset':offset - 7})}}"><button class="btn-sm btn-primary" >  	&lt;&lt;</button></a>
<a href="{{ path(url,{'limit':'week','offset':offset - 1})}}"><button class="btn-sm btn-primary" >  	&lt;</button></a>
<a href="{{ path(url,{'limit':'week','offset':offset + 1})}}"><button class="btn-sm btn-primary" >  	&gt;</button></a>
<a href="{{ path(url,{'limit':'week','offset':offset + 7})}}"><button class="btn-sm btn-primary" >  	&gt;&gt;</button></a>
	<table id="saleMonthTable" class="compact stripe">
		<thead>
			<tr>
				<th>Time</th>
				{% for day in day_list %}
				    <th colspan="2">{{day}}</th>
				{% endfor %}
				<th></th>
			</tr>
			<tr>
				<th></th>
				{% for day in day_list %}
				    <th></th><th></th>
				{% endfor %}
				<th></th>
			</tr>
		</thead>
		<tbody>
		{% for perform in perform_list %}
		{% if loop.first %}
		<tr>
			<td class="timeCol"><b>{{perform.time}}</b></td>
			<td class="numericCol"><b>{% if perform.ttAmount1|filtreZero %}€{% endif %}&nbsp;{{perform.ttAmount1|filtreZero}}</b></td>
			<td class="timeCol"><b><small>{{perform.nbCommands1|filtreZeroPlus}}</small></b></td>
			<td class="numericCol"><b>{% if perform.ttAmount2|filtreZero %}€{% endif %}&nbsp;{{perform.ttAmount2|filtreZero}}</b></td>
			<td class="timeCol"><b><small>{{perform.nbCommands2|filtreZeroPlus}}</small></b></td>
			<td class="numericCol"><b>{% if perform.ttAmount3|filtreZero %}€{% endif %}&nbsp;{{perform.ttAmount3|filtreZero}}</b></td>
			<td class="timeCol"><b><small>{{perform.nbCommands3|filtreZeroPlus}}</small></b></td>
			<td class="numericCol"><b>{% if perform.ttAmount4|filtreZero %}€{% endif %}&nbsp;{{perform.ttAmount4|filtreZero}}</b></td>
			<td class="timeCol"><b><small>{{perform.nbCommands4|filtreZeroPlus}}</small></b></td>
			<td class="numericCol"><b>{% if perform.ttAmount5|filtreZero %}€{% endif %}&nbsp;{{perform.ttAmount5|filtreZero}}</b></td>
			<td class="timeCol"><b><small>{{perform.nbCommands5|filtreZeroPlus}}</small></b></td>
			<td class="numericCol"><b>{% if perform.ttAmount6|filtreZero %}€{% endif %}&nbsp;{{perform.ttAmount6|filtreZero}}</b></td>
			<td class="timeCol"><b><small>{{perform.nbCommands6|filtreZeroPlus}}</small></b></td>
			<td class="numericCol"><b>{% if perform.ttAmount7|filtreZero %}€{% endif %}&nbsp;{{perform.ttAmount7|filtreZero}}</b></td>
			<td class="timeCol"><b><small>{{perform.nbCommands7|filtreZeroPlus}}</small></b></td>
			<td class="numericCol"><b>{% if perform.ttAmount8|filtreZero %}€{% endif %}&nbsp;{{perform.ttAmount8|filtreZero}}</b></td>
			<td class="timeCol"><b><small>{{perform.nbCommands8|filtreZeroPlus}}</small></b></td>
			<td></td>
		</tr>
		{% else %}
		<tr>
			<td class="timeCol">{{perform.time}}</td>
			<td class="numericCol">{% if perform.ttAmount1|filtreZero %}€{% endif %}&nbsp;{{perform.ttAmount1|filtreZero}}</td>
			<td class="timeCol"><small>{{perform.nbCommands1|filtreZeroPlus}}</small></td>
			<td class="numericCol">{% if perform.ttAmount2|filtreZero %}€{% endif %}&nbsp;{{perform.ttAmount2|filtreZero}}</td>
			<td class="timeCol"><small>{{perform.nbCommands2|filtreZeroPlus}}</small></td>
			<td class="numericCol">{% if perform.ttAmount3|filtreZero %}€{% endif %}&nbsp;{{perform.ttAmount3|filtreZero}}</td>
			<td class="timeCol"><small>{{perform.nbCommands3|filtreZeroPlus}}</small></td>
			<td class="numericCol">{% if perform.ttAmount4|filtreZero %}€{% endif %}&nbsp;{{perform.ttAmount4|filtreZero}}</td>
			<td class="timeCol"><small>{{perform.nbCommands4|filtreZeroPlus}}</small></td>
			<td class="numericCol">{% if perform.ttAmount5|filtreZero %}€{% endif %}&nbsp;{{perform.ttAmount5|filtreZero}}</td>
			<td class="timeCol"><small>{{perform.nbCommands5|filtreZeroPlus}}</small></td>
			<td class="numericCol">{% if perform.ttAmount6|filtreZero %}€{% endif %}&nbsp;{{perform.ttAmount6|filtreZero}}</td>
			<td class="timeCol"><small>{{perform.nbCommands6|filtreZeroPlus}}</small></td>
			<td class="numericCol">{% if perform.ttAmount7|filtreZero %}€{% endif %}&nbsp;{{perform.ttAmount7|filtreZero}}</td>
			<td class="timeCol"><small>{{perform.nbCommands7|filtreZeroPlus}}</small></td>
			<td class="numericCol">{% if perform.ttAmount8|filtreZero %}€{% endif %}&nbsp;{{perform.ttAmount8|filtreZero}}</td>
			<td class="timeCol"><small>{{perform.nbCommands8|filtreZeroPlus}}</small></td>
			<td></td>
		</tr>
		{% endif %}
		{% endfor %}
		</tbody>
	</table>
{% endblock %}
{% block javascripts %}
	{{ parent()}}
	<script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.12/js/jquery.dataTables.js"></script>
	<script type="text/javascript" charset="utf8" src="//cdn.datatables.net/responsive/2.1.0/js/dataTables.responsive.min.js"></script>
	{% javascripts '@CoreBundle/Resources/public/js/sales_week.js' %}
		<script src="{{ asset_url }}"></script>
	{% endjavascripts %}
{% endblock %}